div.container
    //div#bigGear
    //div#smallger
    div.aboutMeblock

        h3.amText Lorem ipsum dolor sit amet, vim postea facilisis conclusionemque te, assum iusto laboramus eu mel. Ex qui audire diceret fierent, his cu ubique option singulis. Sit cu postea menandri, modo dicam ad mel. Ut pri erant fabulas expetenda, et pro nominati consulatu, graece nominati sententiae est ea. Id nusquam posidonium per. Eum ea prima mandamus.
        div.amPhoto
