div.container.advantages#aboutUs
    div.leftCorner
    div.rightCorner
    h2 чому обрати нас
    div.adv.advL
        div.adv_text.left
            h3 Loren ipsum sed miter
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
        div.adv_pict.pict1
    div.adv.advR
        div.adv_text.right
            h3 Loren ipsum sed miter
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
        div.adv_pict.pict2
    div.adv.advL
        div.adv_text.left
            h3 Loren ipsum sed miter
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
        div.adv_pict.pict3
    div.adv.advR
        div.adv_text.right
            h3 Loren ipsum sed miter
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
        div.adv_pict.pict4
