div.container.adv1#advantages
    div.leftCorner
    div.rightCorner
    h2 Наші переваги
    div.adv_section
        div.adv_block
            div.adv_pict_small.restAdv
            p Ресторан
        div.adv_block
            div.adv_pict_small.locAdv
            p Зручне розташування
        div.adv_block
            div.adv_pict_small.timeAdv
            p Працюємо цілодобово
        div.adv_block
            div.adv_pict_small.wifiAdv
            p Free Wi-Fi
        div.adv_block
            div.adv_pict_small.cardAdv
            p Розрахунок платіжними картами
        div.adv_block
            div.adv_pict_small.giftAdv
            p Подарункові сертифікати
