div.navbar#nav
    a.nav-buttons()
        span.nav-button-icon.who
        span.navText Who am I?
    a.nav-buttons()
        span.nav-button-icon.techno
        span.navText  What can I do?
    a.nav-buttons()
        span.nav-button-icon.proj
        span.navText  What have I done?
    a.nav-buttons()
        span.nav-button-icon.
        span.navText
    a.nav-buttons()
        span.nav-button-icon.contacts
        span.navText  How to contact me?


