div.container.comments_section
    h2 відгуки клієнтів
    div.comments#commentsSlider


    div.form
        h3 залиште свій коментар
        div.reviewPart
            lable Тема
                input(type='text' placeholder='тема')

            lable Ваш Відгук
                textarea()
            lable Тема
                input(type='file' placeholder='тема')
        div.starsPart
            div.category
                span Комфорт
                div.starsReview.komfort
                    div.stRew
                    div.stRew
                    div.stRew
                    div.stRew
                    div.stRew
            div.category
                span Розташування
                div.starsReview.locationRev
                    div.stRew
                    div.stRew
                    div.stRew
                    div.stRew
                    div.stRew
            div.category
                span Сервіс
                div.starsReview.serviceRev
                    div.stRew
                    div.stRew
                    div.stRew
                    div.stRew
                    div.stRew
            div.category
                span Якість
                div.starsReview.quallity
                    div.stRew
                    div.stRew
                    div.stRew
                    div.stRew
                    div.stRew
            div.category
                span Загальне враження
                div.starsReview.total
                    div.stRew
                    div.stRew
                    div.stRew
                    div.stRew
                    div.stRew

        button.comments_button
    button.comments_button залишити відгук
















        //div.comment
            | //    div.coment_photo
            | //    h3 Lorem psum
            | //    p.coment_text Lorem ipsum dolor sit ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
            | //    div.stars
            | //
            | //