div.container.giftcard
    div.leftCorner
    div.rightCorner

    div.gift_part.gift_pict
        div.gift_picture
    div.gift_part.gift_text
        h2 подарунковий сертифікат
        p "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis Lorem ipsum dolor sit amet, consectetur adipiscing elit,