div#header_container
    div.header-contacts
        h4.phone +38 (093) 711 52 06
            span.phoneicon
        h4.email &#9993; yuravolchak@gmail.com
            span.mailicon
        h4.skype yura_volchak
            span.skypeicon
    div.header-logo
div#header_circle



