div.container.header#main
    div.videoBlock
    div.header_top
        div.header_logo
        div.header_navbar
            ul.navbar
                li
                    a(href='#main') Головна
                li
                    a(href='#locations') Автомийки
                li
                    a(href='#advantages') Переваги
                li
                    a(href='#services') Послуги
                li
                    a(href='#aboutUs') Про нас



    div.header_text
        h2 Lorem ipsum
        h3 dolor sit amet,
        h3 consectetur adipisc


