div.container.location_container#locations
    div.locations
    div.locations_main
        div.loc_top
            div.locLeft.loc_top_left
                h3 Послуги:
            div.locRight.loc_top_right


        div.loc_bottom
            div.locLeft.loc_bottom_left
                h3 Контакти:
            div.locRight.loc_bottom_right

        h6 *попередній запис обов'язковий