div.container.projectContainer
    div.sliderProjects
        div.projectPrewiev
        //div.arrowProject.arrowLeft
        //div.sliderProjectCenter
        //    div.projectSlide
        //
        //div.arrowProject.arrowRight

    //div.projecstMainPart
    //    div.sideArrows.arrUp
    //    div.sideContent
    //        div.sideArrows.arrUp
    //        div.sidePicturesImg
    //        div.sidePicturesImg
    //        div.sidePicturesImg
    //        div.sideArrows.arrDown
    //
    //div.mainPicture
    //        div.picture
    //        dev.pictureDescription
    //            p lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
