div.container.services_container#services
    h2 Комплексні послуги
    div.services_nav

    div.services_description
        div.serv_top
            h3 включає в себе:
            ul#serviceInclude

        div.serv_left
            h3.serv_left_title
            p.serv_left_text
        div.serv_right
            h3.serv_right_title
            p.serv_right_text