div.center
    div#slide1.slide
        include ../components/technologies
        h2 1

    div#slide2.slide
        include ../components/aboutme


    div#slide3.slide

        h2 3
    div#slide4.slide

        h2 4
    div#slide5.slide

        h2 5
