div.container
    div.leftSide
        div.techno.LTtechno fh shdf asase kfskf alkfask aue yrksa yksay akues yrksayr kyeksa eksekuayer asel rawe
        div.techno.LBtechno alkjsa hlkhfd ausyfaiusyeusaye iusafjzdc.andsf ;waeraeh dsahfsalyrkueyr
    div.circleT
        div.centralGears
            div.gear.gearS
            div.gear.gearL
            div.gear.gearM
            div.gear.gearB



        div.sector.cLT
            h3 cLT
        div.sector.cRT
            h3 cRT
        div.sector.cLB
            h3 cLB
        div.sector.cRB
            h3 cRB
    div.rightSide
        div.techno.RTtechno
        div.techno.RBtechno

