.advantages {
  height: 400px;
  //border: 1px solid red;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  h2 {
    width: 100%;
    text-align: center;
  }
}

.adv {
  width: 40%;
  height: 120px;
  display: flex;
  overflow: hidden;
}

.advR {
  flex-direction: row-reverse;
  margin-left: 2%;
}

.arrL {
  flex-direction: row;
}

.adv_text {
  height: 110px;
  width: 80%;
  display: flex;
  flex-direction: column;
  h3 {
    font-weight: bold;
    width: 100%;
    margin: 0;
    padding: 0;
    //  border: 2px solid red;
    //}
    p {
      margin: 0px;
      width: 70%;
      padding: 0;
    }
  }
}
.left {
  align-items: flex-end;
  h3, p {
    text-align: end;
  }

}

.right {
  align-items: flex-start;
  h3, p {
    text-align: start;
  }
}

.adv_pict {
  min-width: 80px;
  height: 80px;
  //border: 1px solid red;
  //background-color: $dark;
  margin:0px 20px;
  background-size: 105%;
  background-position: center;

}
.leftCorner{
  dorder-color:$mid;
  width:80px;
  height:80px;
  border-top:1px solid;
  border-left:1px solid;
  position: absolute;
  left:5%;
  top:5%;
}
.rightCorner{
  dorder-color:$mid;
  width:80px;
  height:80px;
  border-bottom:1px solid;
  border-right:1px solid;
  position: absolute;
  right:5%;
  bottom:5%;
}
.pict1{
background-image: url("../img/adv1.png");
}
.pict2{
  background-image: url("../img/adv2.png");

}
.pict3{
  background-image: url("../img/adv3.png");

}
.pict4{
  background-image: url("../img/adv4.png");

}