* {
  box-sizing: border-box;
}

.footer {
  width: 100%;
  height:303px;
  background-color: rgba(25,33,37,0.9);
  color: white;


  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  justify-content: flex-start;
  //justify-content: space-between;
  div{
    //border: $temp;
  }
}
.footerLogo{
  width:20%;
  height:149px;
}
.footerNav{
  width:70%;
  height:100px;
  margin-right:5%;
  display: flex;
  align-items:center;


}
.footerAbout{
  width:20%;
  height:120px;
  margin-left:5%;
p{
  //text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
}
}
.footerLocations{
  margin-top: -40px;;
  width:70%;
  height:160px;
  margin-right:5%;
  display: flex;
  justify-content:space-around;


}
.footer_loc{
  display: flex;

}
.footer_loc {
  //width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  h3 {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 10px;
    width:100%;
    text-align: center;
  }
  h4 {

    text-align: center;
    font-size: 11px;
    font-weight: 400;
    line-height: 11px;
  }
  p{
    font-size: 16px;
    font-weight: 200;
    line-height: 17px;
    margin:0 0 6px 0;
  }
}
.footer_phone{
  margin-top:15px;
}

.footerLogo {
  width: 20%;
  height: 134px;
  background: url("../img/logoFooter.png")center no-repeat;
  background-size: contain;
  margin-left:5%;
}

.navbar {
  width:80%;
      list-style-type: none;
      display: flex;
      justify-content: space-around;

      li {
        cursor: pointer;
        a {
          color: $light;
          text-decoration: none;
        }
      }
      a:hover {
        color: $mid;

      }
    }



.footer_bottom {
  background-color: #192125;
  width: 100%;
  height: 30px;
  color: $mid;
  margin:0px;
p{
  text-align: center;
  margin:0px;

}
}