.slider {
  width: 100%;
  height: 300px;
  background: gray;

  .photos {
    display: flex;
  }
  .photo {
    min-width: 300px;
    height: 300px;
    border: 4px solid white;

    background-repeat: no-repeat;

  }

  .slick-next {
    width: 30px;
    height: 60px;
    right: 2%;
    background: rgba(255, 255, 255, 0.5) !important;
  }
  .slick-prev {
    width: 30px;
    height: 60px;
    left: 2%;
    z-index: 2;
    background: rgba(255, 255, 255, 0.5) !important;
  }

  .slick-next:hover {
    background: rgba(255, 255, 255, 0.5);

  }
  .slick-prev:hover {
    background: rgba(255, 255, 255, 0.5);

  }

  .slick-next::before {
    font-size: 40px;
    color: black;
    content: '🢖';
  }
  .slick-prev::before {
    font-size: 40px;
    color: black;
    content: '🢔';
  }

}