.circleT {
  width: 30vw;
  height: 30vw;
  //border:2px solid red;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;

}

.sector {
  width: 5vw;
  height: 5vw;;
  border: 2px solid green;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;

}

.cRT {
  border-top-right-radius: 100%;
  left:0;
  bottom:0;
}

.cRB {
  border-bottom-right-radius: 100%;
  left:0;
  top:0;
}

.cLB {
  border-bottom-left-radius: 100%;
  right:0;
  top:0;

}

.cLT {
  border-top-left-radius: 100%;
  right:0;
  bottom:0;
}