.circleT {
  width: 30vw;
  height: 30vw;
  //border:2px solid red;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;

}

.sector {
  width: 0px;
  height: 0px;
  border: 3px solid antiquewhite;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;

}

.cRT {
  border-top-right-radius: 100%;
  left:0;
  bottom:0;

}

.cRB {
  border-bottom-right-radius: 100%;
  left:0;
  top:0;
}

.cLB {
  border-bottom-left-radius: 100%;
  right:0;
  top:0;

}

.cLT {
  border-top-left-radius: 100%;
  right:0;
  bottom:0;
}

.techno{
  width:0px;
  color: darkgrey;
  height:0px;
  border:0px solid antiquewhite;
  position: absolute;
  background: antiquewhite;
  overflow: hidden;
  box-sizing: border-box;

}

.gear{
  width:0px;
  height: 0px;

  background:  url("../img/gear.png") center  no-repeat;
  background-size: 100%;
  position: absolute;

}
.centralGears{
  position: absolute;
}
