
$light: #e6e8e7;
$mid: #5a6c6e;
$dark: #455a64;
$darkO:rgba(255,255,255,0.3);
$dark1:rgba(43,54,58,0.05);
$darkV: #192125;
$darkVV:#30373a;
$textD:#37474f;
$darkT:#8299a9;
$heigh:600px;
$small:500px;
$temp:2px solid red;
//$robotoB:;
//$robotoL;
$roboto:'Roboto', sans-serif;;

