doctype html
html(lang="eng")
    head
        title CarWash
        meta(charset="UTF-8")
        include components/links
    body()
        header
            include components/header
        main
            section

                include components/locations
                include components/slides
                include components/adv1
                include components/services
                include components/giftCard
                include components/comments
                include components/aboutUs


        footer

            include components/footer
        script( src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
        script( src="../js/libs.js")

        script( src='../js/slick.js')
        script( src='../js/scripts.js')





